App/Android/app/app.iml
App/Android/build
App/Android/.gradle
App/Android/.idea
App/Android/Android.iml
App/Android/local.properties

Server/zamanımyok/.vs
Server/zamanımyok/packages
Server/zamanımyok/api.zamanimyok.com/bin
Server/zamanımyok/api.zamanimyok.com/obj
Server/zamanımyok/cdn.zamanimyok.com/bin
Server/zamanımyok/cdn.zamanimyok.com/obj

Web/zamanimyok.com/.vs
Web/zamanimyok.com/packages
Web/zamanimyok.com/zamanimyok.com/bin
Web/zamanimyok.com/zamanimyok.com/obj
Web/zamanimyok.com/app.zamanimyok.com/bin
Web/zamanimyok.com/app.zamanimyok.com/obj
Web/zamanimyok.com/cms.zamanimyok.com/bin
Web/zamanimyok.com/cms.zamanimyok.com/obj
Web/zamanimyok.com/cpi.zamanimyok.com/bin
Web/zamanimyok.com/cpi.zamanimyok.com/obj
Web/zamanimyok.com/crm.zamanimyok.com/bin
Web/zamanimyok.com/crm.zamanimyok.com/obj
App/iOS/zy/Pods/Pods.xcodeproj/xcuserdata/kcenan.xcuserdatad/xcschemes/xcschememanagement.plist
App/iOS/zy/zy.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
App/iOS/zy/zy.xcworkspace/xcuserdata/kcenan.xcuserdatad/UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
