<z-nav>
    <block>
        <zt-frosty></zt-frosty>
        <items>
            <zc-nav-item zp-text="$lexicon.search" zp-navigate-to="search"></zc-nav-item>
            <zc-nav-item zp-text="$lexicon.pagess">
                <zc-nav-sub-item zp-text="$lexicon.page_1" zp-navigate-to="search"></zc-nav-sub-item>
                <zc-nav-sub-item zp-text="$lexicon.page_2" zp-navigate-to="search"></zc-nav-sub-item>
            </zc-nav-item>
            <zc-nav-item zp-text="$lexicon.page_3" zp-navigate-to="search"></zc-nav-item>
        </items>
    </block>
</z-nav>