<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cabff418-2f90-4ed2-a5d0-4c91e42c56c4/resourceGroups/zamanimyok/providers/Microsoft.Web/sites/test-api-zamanimyok</ResourceId>
    <ResourceGroup>zamanimyok</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>TEST</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://test-api-zamanimyok.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>test-api-zamanimyok.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>test-api-zamanimyok</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$test-api-zamanimyok</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=zamanimyok.database.windows.net;Initial Catalog=test-zamanimyok;User ID=zamanimyok;Password=Qzxc1234;Application Name=EntityFramework" Name="Data Source=zamanimyok.database.windows.net;Initial Catalog=test-zamanimyok;User ID=zamanimyok;Password=Qzxc1234;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="api.zamanimyok.com.Models.Entities, api.zamanimyok.com" Origin="" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>MergeAllPagesAndControlToASingleAssembly</WDPMergeOption>
    <UseMerge>True</UseMerge>
    <ContentAssemblyName>merge.api.zamanimyok.com</ContentAssemblyName>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Entities-Web.config Connection String">
      <ParameterValue>provider connection string="Data Source=zamanimyok.database.windows.net;Initial Catalog=test-zamanimyok;User ID=zamanimyok;Password=Qzxc1234;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>